<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\lmcmahan\OneDrive - Precision Valve and Automation\Desktop\Schiism v1.0.0</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetId>Folder</TargetId>
    <TargetFramework>net8.0-windows</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>